.page {
  --background: #fafafa;
  --foreground: #fff;

  display: flex;
  width: 100%;
  min-height: 100dvh;
  justify-content: center;
  background-color: var(--background);
}

.main {
  display: flex;
  width: 100%;
  max-width: 500px;
  min-height: 100dvh;
  flex-direction: column;
  margin: 0 auto;
  padding: 0px 24px 36px;
  background-color: var(--foreground);
}
