.page {
  --background: #fafafa;
  --foreground: #fff;

  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;

  width: 100%;
  max-width: 500px;
  height: 100%;
  flex-direction: column;

  background-color: var(--foreground);
  margin: 0 auto;
  padding: 120px 60px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}
